
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Add Blog Post</h1>
    <br/>
    <form id="addBlogForm" class="form form-register" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.message.label}}
                {{form.message(placeholder="Message", class_="form-control")}}
            </div>

            <p><input class="btn btn-primary" type="submit" value="Register"></p>
    </form>
</div>
{% endblock %}

